*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/it/polito/mad/es/s291595/listapplication/ExampleInstrumentedTest.kt
/app/src/test/java/it/polito/mad/es/s291595/listapplication/ExampleUnitTest.kt
/build/
/build/kotlin/sessions/
/build/kotlin/
